<a href="https://colab.research.google.com/github/paldpk/logos/blob/main/etToKnow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Connecting to Google drive
from google.colab import drive
drive.mount('/drive')
%cd /drive/MyDrive/Data

Mounted at /drive
/drive/MyDrive/Data

# Explore data

At first, you should familiarize yourself with the data. In particular, you should pay attention to strange or unusual values.

In [ ]:
# Import the basic data analytics package, Pandas
import pandas as pd

# Read data to dataframe
df = pd.read_excel('data1_eng.xlsx')

In [ ]:
# The number of rows and columns
df.shape

(82, 16)

In [ ]:
df
# Note that only the first and last rows of the data are displayed

,no,sex,age,fam,education,years of serv,salary,management,workmates,work env,salary sat,role sat,healthcare,time-share,gym,masseuse
0,1,1,38,1,1.0,22.0,3587,3,3.0,3,3,3,NaN,NaN,NaN,NaN
1,2,1,29,2,2.0,10.0,2963,1,5.0,2,1,3,NaN,NaN,NaN,NaN
2,3,1,30,1,1.0,7.0,1989,3,4.0,1,1,3,1.0,NaN,NaN,NaN
3,4,1,36,2,1.0,14.0,2144,3,3.0,3,3,3,1.0,NaN,NaN,NaN
4,5,1,24,1,2.0,4.0,2183,2,3.0,2,1,2,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,78,1,22,1,3.0,0.0,1598,4,4.0,4,3,4,NaN,1.0,1.0,NaN
78,79,1,33,1,1.0,2.0,1638,1,3.0,2,1,2,1.0,NaN,NaN,NaN
79,80,1,27,1,2.0,7.0,2612,3,4.0,3,3,3,1.0,NaN,1.0,NaN
80,81,1,35,2,2.0,16.0,2808,3,4.0,3,3,3,NaN,NaN,NaN,NaN
81,82,2,35,2,3.0,15.0,2183,3,4.0,4,3,4,1.0,NaN,NaN,NaN

In [ ]:
# The beginning of the data. You can also specify the number of rows to display, for example df.head(10)
df.head(3)

,no,sex,age,fam,education,years of serv,salary,management,workmates,work env,salary sat,role sat,healthcare,time-share,gym,masseuse
0,1,1,38,1,1.0,22.0,3587,3,3.0,3,3,3,NaN,NaN,NaN,NaN
1,2,1,29,2,2.0,10.0,2963,1,5.0,2,1,3,NaN,NaN,NaN,NaN
2,3,1,30,1,1.0,7.0,1989,3,4.0,1,1,3,1.0,NaN,NaN,NaN

In [ ]:
# End of data
df.tail(7)

,no,sex,age,fam,education,years of serv,salary,management,workmates,work env,salary sat,role sat,healthcare,time-share,gym,masseuse
75,76,1,37,1,2.0,15.0,1598,1,5.0,1,1,1,1.0,NaN,NaN,NaN
76,77,1,39,1,2.0,22.0,2183,4,5.0,3,1,2,NaN,NaN,NaN,NaN
77,78,1,22,1,3.0,0.0,1598,4,4.0,4,3,4,NaN,1.0,1.0,NaN
78,79,1,33,1,1.0,2.0,1638,1,3.0,2,1,2,1.0,NaN,NaN,NaN
79,80,1,27,1,2.0,7.0,2612,3,4.0,3,3,3,1.0,NaN,1.0,NaN
80,81,1,35,2,2.0,16.0,2808,3,4.0,3,3,3,NaN,NaN,NaN,NaN
81,82,2,35,2,3.0,15.0,2183,3,4.0,4,3,4,1.0,NaN,NaN,NaN

In [ ]:
# Certain rows (note that row numbering starts at zero)
df[10:15]

,no,sex,age,fam,education,years of serv,salary,management,workmates,work env,salary sat,role sat,healthcare,time-share,gym,masseuse
10,11,1,39,2,1.0,22.0,2651,3,5.0,3,1,3,NaN,NaN,NaN,NaN
11,12,1,40,2,3.0,21.0,2846,3,5.0,3,1,2,NaN,1.0,NaN,1.0
12,13,1,35,2,3.0,15.0,2808,3,5.0,3,1,4,NaN,1.0,NaN,NaN
13,14,1,58,2,3.0,21.0,3587,4,5.0,4,1,3,NaN,NaN,NaN,NaN
14,15,1,53,2,3.0,12.0,3393,4,4.0,4,4,4,NaN,1.0,NaN,NaN

In [ ]:
# If you want to show all rows, set max_rows to None
# pd.options.display.max_rows = None

# If you want to show all columns, set max_columns to None
#pd.options.display.max_columns = None

# df

Warning! The previous cell commands should be used with caution. All displayed rows and columns are saved with the notebook, increasing the file size of the memo and slowing down the operation.

In [ ]:
# Column headings and number of values
df.count()

no               82
sex              82
age              82
fam              82
education        81
years of serv    80
salary           82
management       82
workmates        81
work env         82
salary sat       82
role sat         82
healthcare       47
time-share       20
gym               9
masseuse         22
dtype: int64

In [ ]:
# Numbers of missing values
df.isnull().sum()

no                0
sex               0
age               0
fam               0
education         1
years of serv     2
salary            0
management        0
workmates         1
work env          0
salary sat        0
role sat          0
healthcare       35
time-share       62
gym              73
masseuse         60
dtype: int64

In [ ]:
# Column headings, number of values and column data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   no             82 non-null     int64
 1   sex            82 non-null     int64
 2   age            82 non-null     int64
 3   fam            82 non-null     int64
 4   education      81 non-null     float64
 5   years of serv  80 non-null     float64
 6   salary         82 non-null     int64
 7   management     82 non-null     int64
 8   workmates      81 non-null     float64
 9   work env       82 non-null     int64
 10  salary sat     82 non-null     int64
 11  role sat       82 non-null     int64
 12  healthcare     47 non-null     float64
 13  time-share     20 non-null     float64
 14  gym            9 non-null      float64
 15  masseuse       22 non-null     float64
dtypes: float64(7), int64(9)
memory usage: 10.4 KB

Columns containing only numeric values are integers (int) or floating-point numbers (float). You can think of a floating point number as practically the same as a decimal number.

The **unique** function makes it easy to spot incorrect or suspicious values.

Unique shows the column's unique values as a list. For example, the following shows that the 'workmates' (satisfaction with colleagues) column has values 2, 3, 4 and 5 and one or more missing values (**nan**). None of the respondents have been very dissatisfied with their colleagues (value 1).

The values are printed in the order they appear in the data.

In [ ]:
# df['workmates'].unique()

In [ ]:
# use the for loop to go through all columns except 'no' and print their unique values
# drop, by default deletes rows (axis=0), but now we want to delete a column (axis=1)
# for column in df.drop('no', axis=1):
#    print(column, df[column].unique())

In [ ]:
# three rows where salary has the highest value - complete the code (___)
# df.nlargest(___, ___)

In [ ]:
# three rows where salary has the lowest value - complete the code (___)
# df.nsmallest(___, ___)

The **value_counts** function calculates the frequencies of unique values, i.e. the number of occurrences.

In the following, the frequencies are calculated for all variables except for the serial number, age and salary. **sort_index()** arranges the values in order according to the values.

In [ ]:
# for variable in df.drop(['no', 'age', 'salary'], axis=1):
#    print(df[variable].value_counts().sort_index())

In [ ]:
# It is also worth taking a look at the statistical indicators, df.describe()

## List of functions and activities used in the memo

* **pd.read_excel()** reading data from an Excel file
* **df.shape** the number of rows and columns of the data
* **pd.options.display.max_rows = None** displaying all rows of dataframes
* **pd.options.display.max_columns = None** displaying all columns of dataframes
* **df.head()** beginning of the data
* **df.tail()** end of the data
* **df.count()** column headings and the number of values in each column
* **df.isnull().sum()** number of missing values in each column
* **df.info()** column headings, number of values and column data types
* **df['sarake'].unique()** list of unique values for the named column
* **df.drop()** remove rows or columns
* **print()** print on screen
* **df.nlargest()** n largest with respect to the named column
* **df.nsmallest()** n smallest with respect to the named column
* **df['sarake'].value_counts()** for calculating the occurrence times (frequencies) of values
* **df.describe()** statistical indicators


* In addition **for**-loop was tested

## Inspiration has been taken from the following link

Data-analytiikka Pythonilla https://tilastoapu.wordpress.com/python/

In [ ]:
from datetime import datetime
print(f'PÃ¤ivitetty {datetime.now().date()} / Veijo VÃ¤nttinen')

PÃ¤ivitetty 2024-01-11 / Veijo VÃ¤nttinen